

* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 25%;
	padding: 5px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}
.image-container {
    position: relative;
}

.text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px; /* Adjust distance from image */
    text-align: center;
}










